.container {
    display: grid;
    height: 100vh;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 680px 30px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";}

header {
    grid-area: h;}

main {
    grid-area: m;}

footer {
    grid-area: f;}

header:first-child {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    text-align: center;
    height: 70px;
    border: solid 2px black;}

main {
    display: flex;
    justify-content: center;
    height: 10px;
    margin-top: 20px;}

.top {
    display: flex;
    justify-content: center;}

.left {padding-left: 10px;}

p {
    margin: 4px;
    padding: 0px;
    font-size: 22px;
    color: grey;}

.left :first-child {
    margin: 4px;
    padding: 0px;
    font-size: 28px;
    font-weight: bolder;
    color: black;}

.left :nth-child(2) {
    margin-bottom: 50px;}

.left :nth-child(3) {
    color:black;
    font-size: 26px;
    width: 120%;
    margin-bottom: 15px;}

.pic {
    height: 70px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;}

.a-d {
    display: flex;
    justify-content: center;
    border-top: 1px silver solid;}

.left-design, .right-design {
    border: silver 2px solid;
    border-radius: 10px;
    width: 460px;
    height: 280px;
    background: white;
    margin-right: 10px;
    padding-left: 0px;}

span {
    font-weight: bold}

[for^="app"] {
    border: 2px #33CC59 solid;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    color:#33CC59;
    font-size: 24px;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    padding-top: 6px;}

[for^="dec"] {
    border: 2px red solid;
    border-radius: 0px 5px 5px 0px;
    color:red;
    font-size: 24px;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    padding-top: 6px;}

footer {
    background-color: black;
    color:white;
    height: 25px;
    padding-left: 20px;
    font-size: 20px;
    border: black 1px solid;}